dist
eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
npm-debug.log
**/npm-debug.log
**/npm-debug.log*
**/node_modules
**/eslint_rules
**/docs
.idea
**/logs/*.log
**/pids/*.pid
*/log.txt
static_server_npm_helper.pid
*/report.xml
*/doc/**
**/Reports/*
*/newrelic*.*
*.vpp~*
*.vpp.working*
*.vpp.bak
*/out
**/.jscsrc
**/.jshintrc
**/docs/*
!**/docs/.gitkeep
**/coverage/*
!**/coverage/.gitkeep
/huf_ldap_change_notification_enrich_n_relay_agent/resources/**
.vscode/
/Code/package-lock.json
/Code/modules/TestingNunjucks/**/*
/Code/eslint_rules/**/*
/modules/TestingNunjucks/**/*
/lib/**/*